.label{
    display: flex;;
    gap: 10px;
}
.label h3{
    background-position: center;
    color : black
}
#Search {
    height : 30px;
    margin-left: auto;
}
button{
    width : 60;
    height : 30px;
}

/* đây là code của hàng đầu tiên */
table{
    border: 0px;
}

table thead {
    background-color: rgb(14, 14, 77);
}

table thead #title {
    color :white;
}

#title{
    display: flex;
    justify-content: space-between;
}

#Add {
    background-color: rgb(40, 225, 40);
}
#Delete {
    background-color: red;
    margin-left: auto;
}

#first{
    display: flex;
    justify-content: space-between;
}
td{
    display: flex;
    justify-content: space-between;
}